.container {
  display: flex;
  margin-top: 2rem;
  /* gap: 50px; */
  /* background-color: var(--bgSoft); */
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: 20px;
}

.subtitle {
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--textSoft);
}

.title {
  font-size: 50px;
  line-height: 3.8rem;
}

.desc {
  font-size: 20px;
  /* font-weight: 300; */
}

.boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box h1 {
  color: var(--btn);
}

.imgContainer {
  flex: 1;
  position: relative;
}

.img {
  object-fit: contain;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .boxes {
    flex-direction: column;
    gap: 50px;
  }
}
