.container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.authorDetail {
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  /* display: flex; */
  color: gray;
  font-weight: bold;
}

.username {
  /* display: flex; */
  font-weight: 500;
  width: 100%;
  text-align: center;
}
