.container {
  display: flex;
  gap: 80px;
  padding-top: 1rem;
}

.imgContainer {
  flex: 1;
  position: relative;
  height: calc(100vh - 100px);
}

.img {
  object-fit: cover;
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: 52pt;
  line-height: 5rem;
  text-transform: capitalize;
}

.detail {
  display: flex;
  gap: 20px;
}

.userDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userTitle {
  color: gray;
  font-weight: bold;
}

.userValue {
  font-weight: 500;
}

.content {
  font-size: 20px;
}

@media (max-width: 768px) {
  .container {
    display: block;

    /* flex-direction: column; */
    min-height: 100vh;
  }
  .imgContainer {
    /* display: flex; */
  }

  .textContainer {
    text-align: center;
  }

  .detail {
    display: flex;
    justify-content: center;
  }

  .title {
    line-height: 6rem;
  }
}
