.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  color: white;
  width: 500px;
  background-color: var(--bgSoft);
  padding: 32px;
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
}

.wrapper button {
  padding: 12px;
  cursor: pointer;
  background-color: var(--textSoft);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
}
